body{
  font: 15px/1.5 Courier New, Helvetica,sans-serif;
  margin:0%;
  padding:0%;
  background-color:#A76F3D;
}

.wrapper{
  padding-right: 40%;

}

.container{
  padding-left: 10%;
  margin:auto;
  overflow:hidden;
  padding-bottom: 5px;
}

header .highlight, header .current a{
  color:#000000;
  font-weight:bold;
}


ul{
  margin:0;
  padding:0;
}



header{
  background:#36AD4C;
  color:#000000;
  padding-top:30px;
  min-height:70px;
  border-bottom:#06400A 10px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 0px;
}

header a:hover{
  color:#454442;
  font-weight:bold;
}

.responsive-video{
  position:relative;
  min-height: 360px;
  /*padding-bottom: 56.25%;*/
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}


.responsive-video iframe{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.description_vid{
  margin: 7% 3% 7% 3%;
}

.link_to_person{
  color: #000000;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.one-fifth {
  width: 21%;
  float: left;
  margin: 2% 2% 2% 2%;
}

img:hover {
  filter: brightness(117%);
}

@media screen and (max-width: 768px){
  .one-fifth{
    width: 46%;
  }
}

.clearfix{
   clear:both;
}

#about{
  margin: 3%;
  padding: 3%;
}

#mailto{
  color: #000000;
  text-transform: uppercase;
}

footer{
  padding:20px;
  margin-top:3%;
  color:#ffffff;
  background-color:#2E1805;
  text-align: center;
  border-top: #06400A 10px solid;
}
